@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
	box-sizing: border-box;
}

body {
	background-color: ##e3edf7;
	display: flex;
	justify-content: center;
	font-family: 'Lato'; sans-serif;
	background-image: url("sunv4.jpg");
	color: white;
	font-weight: bolder;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 750px;
}

.upload {
	position: relative;
	padding-left: 30px;	
}

button {
	display: inline;
	padding: 10px 30px;
	cursor: pointer;
	background: #2565AE;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

@media(max-width: 830px) {
	body {
	background-image: url("sunv7.jpg");
	justify-content: start;
	}
}

.letter {
  	display: inline-block;
 	opacity: 0;
}

div {
 	 display: inline-block;
}

h1 {
	height: 100px;
	inline-size: 190px;
}
